<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-9 white pt-5">
      <div style="width: 600px; height: 500px;" class="center black"></div>
    </div>
    <div class="col black c-white pt-5">
      <h2>
        Comentários
      </h2>
      <hr class="white">

      <div class="row">
        <div class="col-2">
          <div class="rounded-circle white" style="height: 42px; width: 42px ;"></div>
        </div>
        <div class="col-10 pt-2">
          <span>Guilherme Zordan</span>
        </div>
      </div>
      <div class="row">
          <div class="col mt-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget augue vitae est ultricies ornare. Proin faucibus rhoncus vehicula.
            Maecenas eleifend, quam sed egestas vehicula, eros ex accumsan erat, nec tincidunt nibh dui id tortor. Nam eu odio scelerisque eros dignissim
            faucibus vitae aliquet diam. Nam eleifend sit amet magna eget placerat. Nulla ut ex sollicitudin, dapibus enim sed, placerat
          </div>
      </div>
      <div class="row">
          <div class="col">
            <span class="glyphicons glyphicons-arrow-up"></span>
          </div>
      </div>
    </div>
  </div>
</div>
