<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col white pt-5">
      <div style="width: 600px; height: 500px;" class="center black"></div>
    </div>
    <div class="col-3 black c-white pt-5">
      <h2>
        Comentários
      </h2>
      <hr class="white">
<div class="row">

  <div class="col-12">
    <div class="row">
      <div class="col-3 pr-0 mt-2">
        <div class="float-right white" style="height: 52px; width: 52px;"></div>
      </div>
      <div class="col pt-2">
        <p>Guilherme Zordan</p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget augue vitae est ultricies ornare. Proin faucibus rhoncus vehicula.
        Maecenas eleifend, quam sed egestas vehicula, eros ex accumsan erat, nec tincidunt nibh dui id tortor. Nam eu odio scelerisque eros dignissim...
        <a href="">Leia mais</a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col text-right c-white">
        <span class="glyphicon glyphicon-arrow-up mr-2"></span>
        <span class="glyphicon glyphicon-arrow-down mr-2"></span>
        <a href="#" class="c-white">responder</a>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-3 pr-0 mt-2">
        <div class="float-right white" style="height: 52px; width: 52px;"></div>
      </div>
      <div class="col pt-2">
        <p>Guilherme Zordan</p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget augue vitae est ultricies ornare. Proin faucibus rhoncus vehicula.
        Maecenas eleifend, quam sed egestas vehicula, eros ex accumsan erat, nec tincidunt nibh dui id tortor. Nam eu odio scelerisque eros dignissim...
        <a href="">Leia mais</a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col text-right c-white">
        <span class="glyphicon glyphicon-arrow-up mr-2"></span>
        <span class="glyphicon glyphicon-arrow-down mr-2"></span>
        <a href="#" class="c-white">responder</a>
      </div>
    </div>
  </div>


  <div class="col-12">
    <div class="row">
      <div class="col-3 pr-0 mt-2">
        <div class="float-right white" style="height: 52px; width: 52px;"></div>
      </div>
      <div class="col pt-2">
        <p>Guilherme Zordan</p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget augue vitae est ultricies ornare. Proin faucibus rhoncus vehicula.
        Maecenas eleifend, quam sed egestas vehicula, eros ex accumsan erat, nec tincidunt nibh dui id tortor. Nam eu odio scelerisque eros dignissim...
        <a href="">Leia mais</a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col text-right c-white">
        <span class="glyphicon glyphicon-arrow-up mr-2"></span>
        <span class="glyphicon glyphicon-arrow-down mr-2"></span>
        <a href="#" class="c-white">responder</a>
      </div>
    </div>
  </div>


  <div class="col-12">
    <div class="row">
      <div class="col-3 pr-0 mt-2">
        <div class="float-right white" style="height: 52px; width: 52px;"></div>
      </div>
      <div class="col pt-2">
        <p>Guilherme Zordan</p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget augue vitae est ultricies ornare. Proin faucibus rhoncus vehicula.
        Maecenas eleifend, quam sed egestas vehicula, eros ex accumsan erat, nec tincidunt nibh dui id tortor. Nam eu odio scelerisque eros dignissim...
        <a href="">Leia mais</a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col text-right c-white">
        <span class="glyphicon glyphicon-arrow-up mr-2"></span>
        <span class="glyphicon glyphicon-arrow-down mr-2"></span>
        <a href="#" class="c-white">responder</a>
      </div>
    </div>
  </div>


  <div class="col-12">
    <div class="row">
      <div class="col-3 pr-0 mt-2">
        <div class="float-right white" style="height: 52px; width: 52px;"></div>
      </div>
      <div class="col pt-2">
        <p>Guilherme Zordan</p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget augue vitae est ultricies ornare. Proin faucibus rhoncus vehicula.
        Maecenas eleifend, quam sed egestas vehicula, eros ex accumsan erat, nec tincidunt nibh dui id tortor. Nam eu odio scelerisque eros dignissim...
        <a href="">Leia mais</a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col text-right c-white">
        <span class="glyphicon glyphicon-arrow-up mr-2"></span>
        <span class="glyphicon glyphicon-arrow-down mr-2"></span>
        <a href="#" class="c-white">responder</a>
      </div>
    </div>
  </div>


</div>

    </div>
  </div>
</div>
