<div class="hidden-md-down col-2">
  <ul class="list-unstyled">
    <li class="mb-4">
      <h2>
        <%= link_to "Editar Perfil", edit_user_registration_path %>
      </h2>
    </li>
    <li>
      <h2>
        <%= link_to "Alterar Senha", edit_user_section_path(:password) %>
      </h2>
    </li>
  </ul>
</div>

<div class="hidden-sm-up col">
  <ul class="list-unstyled list-inline">
    <li class="list-inline-item mr-4">
      <h4>
        <%= link_to "Editar Perfil", edit_user_registration_path %>
      </h4>
    </li>
    <li class="list-inline-item">
      <h4>
        <%= link_to "Alterar Senha", edit_user_section_path(:password) %>
      </h4>
    </li>
  </ul>
  <hr/>
</div>
