<div class="col-2">
  <ul class="list-unstyled">
    <li class="mb-3">
      <h3>
        <%= link_to "Informações", edit_user_registration_path %>
      </h3>
    </li>
    <li>
      <h3>
        <%= link_to "Senha", edit_user_section_path(:password) %>
      </h3>
    </li>
  </ul>
</div>
