<% if @post %>
  <title>Triafu | <%= @post.title %></title>
  <meta name="description" content="<%= @post.title %>" />
<% elsif devise_controller? %>
  <title>Triafu | conta</title>
  <meta name="description" content="Configurações e informações da conta Triafu" />
<% else %>
  <title>Triafu | você no holofote</title>
  <meta name="description" content="você no holofote" />
<% end %>

<meta name="keywords" content="post, publicação, meme, zoeira, engraçado, divertido, informação, comentário, mídia, brasil, português, tri, afu" />

<meta name="robots" content="noindex,nofollow" />
<meta name="google" content="notranslate" />

<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui, target-densityDpi=device-dpi'/>

<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
