<%= render "partials/title_header" %>

<div class="container pb-2 <%= if mobile_device? then " devise-mobile" else " devise-desktop" end %>">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <%= react_component("NotificationList") %>
    </div>
  </div>
</div>
