<div class="col p-0">
  <%= render "partials/devise_communications" %>

  <div class="col-12 posts p-0">
    <%= react_component("PostSection", prerender: true,
    props: { category: params[:category], isMobile: true }) %>
  </div>
</div>

<!-- <%= react_component("CommentSection", html_options: {class: "col-xl-3 col-lg-4 bgm-gray"}) %> -->
