<%= render "layouts/sub_header" %>

<div class="row container-mobile">
  <%= render "partials/devise_communications" %>
  <div class="col-12 p-0 posts">
    <%= react_component("PostSection", props: { postId: @post.id, isMobile: true }, prerender: true) %>
  </div>
</div>
