<div class="row container-desktop">
  <div class="col p-0 posts">
    <div class="row m-0">
      <%= render "partials/devise_communications" %>
      <div class="col-12">
        <%= react_component("PostSection", props: { category: params[:category] }, prerender: true) %>
      </div>
    </div>
  </div>

  <%= react_component("CommentSection", html_options: {class: "col-xl-3 col-lg-4 bgm-gray"}) %>
</div>
