<div class="row posts-container">
  <div class="col p-0 posts" id="posts">
    <div class="row no-gutters">
      <%= render "partials/alert" %>
      <%= render "partials/user_profile" %>

      <div class="col-12">
        <%= react_component("PostSection",
        props: {
          category: params[:category],
          username: params[:username]
        },
        prerender: true) %>
      </div>
    </div>
  </div>

  <%= react_component("CommentSection", html_options: {class: "col-xl-3 col-lg-4 mw-450 bgm-gray"}) %>
</div>
