<div class="row panel-container">
  <%= react_component("PostSection", html_options: {class: 'col posts'}, prerender: true) %>
  <%= react_component("CommentSection", html_options: {class: 'col-xl-3 col-lg-4 bgm-gray'}) %>
</div>
