<div class="row panel-container">
  <%= react_component("PostSection", props: @post, html_options: {class: 'col posts'}) %>
  <%= react_component("CommentSection", html_options: {class: 'col-3 bgm-gray'}) %>
</div>
