<div class="col p-0 posts">
  <div class="row m-0">
    <%= render "partials/devise_communications" %>
    <div class="col-12">
      <%= react_component("PostSection", props: { postId: @post.id }, prerender: true) %>
    </div>
  </div>
</div>

<%= react_component("CommentSection", props: { postId: @post.id, userId: @post.user_id }, html_options: {class: "col-xl-3 col-lg-4 bgm-gray"}) %>
