<div class="modal" id="m_comments" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= react_component("CommentSection", props: { isMobile: true }, html_options: {class: "pr-2 pl-2"}) %>
    </div>
  </div>
</div>
