<div class="modal" id="m_image_comment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Comentar com imagem</h1>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
          Fechar
        </button>
      </div>
      <div class="modal-body text-center pt-5 pb-5">
        Em breve :)
      </div>
    </div>
  </div>
</div>
