<div class="modal" id="m_new_post" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Criar Publicação</h1>
      </div>
      <%= react_component("PostForm") %>
  </div>
</div>
