<div class="modal" id="m_new_post" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">

      <%= form_for @post do |f| %>

        <small>Um título massa para o seu post!</small>
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Título", class: "form-control" %>
        </div>

        <div class="row">
          <div class="col-4 offset-4 rounded dropzone new_media" id="new_media">
          </div>
        </div>

        <ul class="list-unstyled list-inline float-right">
          <li class="list-inline-item">
            <input type="button" class="btn btn-link" value="Cancelar">
          </li>
          <li class="list-inline-item">
            <%= f.submit "Postar", class: "btn btn-success" %>
          </li>
        </ul>
        <% end %>

    </div>
  </div>
</div>
