<div class="modal" id="m_new_post" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Criar Post!</h5>
      </div>
      <div class="modal-body">

      <%= form_for @post do |f| %>
        <div class="row">

          <div width="135px" height="260px" class="rounded dropzone new_media" id="new_media"></div>

          <div class="col">
            <small class="font-weight-bold">Pense em um título massa para o seu post!</small>
            <div class="form-group">
              <%= f.text_area :title, placeholder: "Título", class: "form-control", rows: 6 %>
            </div>

            <small class="font-weight-bold">URL do autor original (se houver)</small>
            <div class="form-group">
              <%= f.text_field :original, placeholder: "http://", class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <%= f.submit "Postar", class: "btn btn-success" %>
        </div>
      <% end %>

  </div>
</div>
