<div class="modal" id="m_share_links" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content pr-4 pl-4 pt-3 pb-4">
      <%= react_component("PostShareLinks", props: { isMobile: true }, prerender: true) %>
    </div>
  </div>
</div>
