<div class="modal" id="m_signup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Criar conta</h1>
      </div>
      <form method="post">
      <div class="modal-body">

        <p class="text-muted text-center">Conecte-se usando as redes sociais</p>

        <ul class="list-unstyled list-inline text-center pb-2">
          <li class="list-inline-item">
            <button class="btn btn-facebook">
              <i class="fa fa-facebook-f fa-1x"></i>
              <span class="ml-1">Facebook</span>
            </button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-google">
              <i class="fa fa-google-plus fa-1x"></i>
              <span class="ml-1">Google</span>
            </button>
          </li>
        </ul>

        <hr/>

        <p class="text-muted text-center">Usando um <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#m_signup_form">endereço de e-mail</a></p>
        <p class="text-muted text-center">Já tem uma conta? <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#m_login">Entre</a></p>
      </div>
      </form>
    </div>
  </div>
</div>
