@import "variables";

.comment-middle {
  overflow: auto;
  height: calc(100vh - 150px);
  top: 10em;
  -webkit-overflow-scrolling: touch;
}

.comment-bottom {
  padding-top: 0.5em;
  height: 150px;
}

.comment-text {
  margin-bottom: 0.2rem;
  word-break: break-all;
  word-wrap: break-word;
}

#mobile-comments{
  background-color: $light-gray;
}
