.comment-top {
  height: 1.5em;
}

.comment-middle {
  overflow: auto;
  height: calc(100% - 100px);
  top: 10em;
  -webkit-overflow-scrolling: touch;
}

.comment-bottom {
  padding-top: 0.5em;
  height: 80px;
  max-height: 100px;
}

.comment-text {
  margin-bottom: 0.2rem;
  word-break: break-word;
  word-wrap: break-word;
}
