@import "variables";

.user-image-dropzone{
  color: $dark-gray;
  border: 4px dashed $dark-gray;
  background: $light-gray;

  &.has-danger {
    border: 4px dashed red;
  }

  .row{
    .col-100{
      width: 100px;

      .image{
        height: 100px;
        width: 100px
      }
    }
    .col-80{
      width: 80px;
    }

    .col-50{
      width: 50px;
    }
  }
}
