ul.featured{
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  .unsigned-message{
    z-index: 888;
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 10%;
    text-align: center;
    color: white;
  }

  .featured-post{
    position: relative;
    overflow-x: auto;
    height: 120px;
    width: 300px;

    .image{
      left: 0;
      top: 0;
      position: absolute;
      margin: 0;
      height: 120px;
      width: 300px;
      background-repeat: no-repeat;
      background-clip: content-box;
      background-size: cover;
      background-position: center center;
    }

    h2{
      bottom: 0;
      height: 35px;
      padding: 10px;
      width: 100%;
      position: absolute;
      z-index: 500;
      background: rgba(0, 0, 0, 0.7);
      color: white;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }

    &:hover{
      *{
        text-decoration: underline;
      }
    }
  }
}
