@import "variables";

.header-mobile {
  z-index: 9999;
  background: $light-gray;
  font-weight: 600;
  width: 100%;
  height: 40px;
  padding: 0;
  top: 0;

  .col {
    height: 100%;
    padding: 0;

    &:first-of-type {
      border-left: 1px solid $flag-yellow;
    }
  }

  .logo {
    padding-left: 5px;
    width: 55px;
    height: 40px;
    max-height: 40px;
    border-right: 3px solid $flag-green;
    background: $purple;

    img{
      max-height: 40px;
    }
  }

  .profile-actions {
    width: 5em;
    padding-top: 0.2em;
    text-align: center;
  }

  .dropdown-menu{
    top: 40px;
  }

  .header-item {
    text-align: center;

    a.header-link {
      text-align: center;
      padding: .5em 1em;
      text-decoration: none;
      color: rgba(50,50,50,.5);
      &:link:hover:visited {
        color: rgba(50,50,50,.5);
      }
      &:hover {
        color: rgba(50,50,50,1);
      }
      &.active {
        color: rgba(50,50,50,1);
      }
    }
  }
}

.sub-header-mobile{
  z-index: 9998;
  background: $light-gray;
  font-weight: 600;
  width: 100%;
  height: 40px;
  padding: 0;
  top: 0;

  .header-item {
    text-align: center;
    padding-top: 10px;

    .dropdown{
      &.pt-text{
        padding-top: .7rem;
      }

      &.pt-icon{
        padding-top: .3rem;
      }
    }

    a.header-link {
      text-align: center;
      text-decoration: none;
      color: rgba(255,255,255,.5);

      &:link:hover:visited {
        color: rgba(255,255,255,.5);
      }
      &:hover {
        color: rgba(255,255,255,1);
      }
      &.active {
        color: rgba(255,255,255,1);
      }
    }
  }
}
