@import "variables";

.header {
  z-index: 9999;
  font-weight: 600;
  width: 100%;
  height: 3.3em;
  padding: 0;

  .col {
    height: 100%;
    padding: 0;

    &:first-of-type {
      border-left: 2px solid $flag-yellow;
    }

    &.categories {
      width: 20em !important;
      max-width: 20em !important;

      .header-item{
        padding-top: .9em;
      }
    }
  }

  .logo {
    padding: 0.5em;
    background: $light-gray;
    width: 8.5em;
    border-right: 4px solid $flag-green;
  }

  .profile-actions {
    width: 9em;
    text-align: center;
    padding-top: 0.3em;
  }

  .header-item {
    height: 100%;
    width: 6em;
    text-align: center;

    .dropdown{
      &.pt-text{
        padding-top: .9rem;
      }

      &.pt-icon{
        padding-top: .5rem;
      }
    }

    a.header-link {
      text-align: center;
      text-decoration: none;
      color: rgba(255,255,255,.5);

      &:link:hover:visited {
        color: rgba(255,255,255,.5);
      }
      &:hover {
        color: rgba(255,255,255,1);
      }
      &.active {
        color: rgba(255,255,255,1);
      }
    }
  }
}
