@import "bootstrap";
@import "font-awesome";
@import "variables";

* {
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 0.92rem;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  word-wrap: break-word;
}

.navbar {
  font-weight: bold;
  // background-color: black;
  // color: white;
  height: 3.5em;
  padding: 0 !important;

  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        text-align: center;
        width: 6em;
      }
    }
  }
}

.panel-container {
  padding-top: 3.5em;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0 !important;
  height: 100vh;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.bgm-gray {
  background: #f1f1f1;
}

.bgm-white {
  background: white;
}

.dropdown-right {
  right: 0;
  left:auto;
}

.bb-white {
  border-bottom: 0.1em solid white;
}

.bt-white {
  border-top: 0.1em solid white;
}

.c-white {
  color: white;
}

.mh-5 {
  max-height: 5em;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
