@import "bootstrap";
@import 'bootstrap/glyphicons';

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  padding-top: 3.5em;
}

.navbar {
  background-color: #fff !important;
  border-bottom: 0.1em solid black;
}

.bb-white {
  border-bottom: 0.1em solid white;
}

.post {
  height: 100%;
  position: absolute;
  overflow: scroll;
}

.commentaries {
  height: 100%;
  position: fixed;
  overflow: scroll;
}

.c-white {
  color: white;
}

.c-black {
  color: black !important;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
