@import "bootstrap";
@import "variables";

* {
  font-family: "Droid Sans", "Helvetica", sans-serif;
  font-style: normal;
  font-kerning: normal;
  letter-spacing: .2px;
  text-rendering: optimizelegibility;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

small {
  font-size: 85%;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  word-wrap: break-word;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  word-wrap: break-word;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  word-wrap: break-word;
}

.mw-550{
  max-width: 550px;
}

.pt-25{
  padding-top: 0.7rem !important;
}

.pt-15{
  padding-top: 0.4rem !important;
}

.mt-15{
  margin-top: 0.4rem !important;
}

.mr-30 {
  margin-right: 30px;
}

.container {
  padding-top: 4em;
}

.dropdown-menu-left {
  left: auto;
  right: 0;
}

.communications {
  padding: 0;
  .alert {
    border-radius: 0;
  }
}

.desktop-container {
  padding-top: 3.3em;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0 !important;
  height: 100vh;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.mobile-container {
  padding-top: 2.9em;
  position: relative;
  overflow: hidden;
  margin: 0 !important;
  height: 100vh;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.bgm-gray {
  background: $light-gray;
}

.bgm-white {
  background: white;
}

.btn-purple {
  color: #fff;
  background-color: $purple;
  border-color: $purple;
}

.btn-twitter {
  color: #fff;
  background-color: #4099FF;
  border-color: #4099FF;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;

  &.disconnected{
    opacity: 0.5;
  }
}

.btn-google {
  color: #fff;
  background-color: #d34836;
  border-color: #d34836;

  &.disconnected{
    opacity: 0.5;
  }
}

.dropdown-right {
  right: 0;
  left:auto;
}

.bb-white {
  border-bottom: 0.1em solid white;
}

.bt-dark-gray {
  border-top: 0.1em solid $dark-gray;
}

.bt-white {
  border-top: 0.1em solid white;
}

.bb-white {
  border-bottom: 0.1em solid white;
}

.c-white {
  color: white;
}

.z-index{
  z-index: 9999 !important;
}

.mh-5 {
  max-height: 5em;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.text-purple{
  color: $purple;
}

hr.or:before {
  content: '';
  display: block;
  height: 1px;
}

hr.or:after {
  content: 'ou';
  display:block;
  text-align:center;
  background-color: white;
  width:60px;
  margin-top:-10px;
  position:absolute;
  left:50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.bt-modal-footer {
  border-top: 1px solid #eceeef;
}

.modal-header{
  padding: 8px;
}

.href{
  cursor: pointer;
}

.break-all{
  word-break: break-all;
}
