.post {
  height: 100%;
  position: absolute;
  overflow: scroll;
}

.post-image {
  width: 500px;
}

.posts {
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.bg-gray {
  background-color: #DCDCDC
}

.waypoint-anchor {
  width: 1px;
  position: absolute;
  height: 35%;
  top: 30%;
  left: 45%;
}

.new_media.dropzone {
  padding: 0 !important;
  border: 0.3em dashed purple;
  height: 150px;
  .dz-clickable {
    .dz-message * {
      font-size: 21px;
      font-weight: bold;
    }
  }
  .dz-preview {
    .dz-details {
      .dz-filename {
        span {
          display: none;
        }
      }
    }
  }
}
