@import "font-awesome";
@import "variables";

.post {
  height: 100%;
  position: absolute;
  overflow: scroll;
}

.posts {
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.w-500{
  width: 500px;
  max-width: 500px;
}

.col-500{
  width: 500px !important;
  max-width: 500px !important;
}

.post-image {
  width: 500px;
  min-height: 350px;
}

.p-fixed {
  position: fixed;
  top: 42%;
}

.w-150{
  width: 150px !important;
  max-width: 150px !important;
}

.bg-gray {
  background-color: #DCDCDC
}

.waypoint-anchor {
  width: 1px;
  position: absolute;
  background: red;
  height: 10px;
  top: 45%;
  left: 50%;
}

.new_media.dropzone {
  margin: 15px;
  padding: 25px;
  width: 180px;
  height: 195px;
  border: 0.4em dashed $purple;
  .dz-message * {
    font-size: 14px;
    font-weight: bold;
    color: $purple;
  }

  .dz-preview {
    height: 140px;
    width: 120px;
    margin: 0 !important;
    .dz-image {
      // width: 200px;
      // height: 200px;
    }
    .dz-details {
      .dz-filename {
        span {
          display: none;
        }
      }
    }
  }
}
