@import "font-awesome";
@import "variables";

.post {
  height: 100%;
  position: absolute;
  overflow: scroll;
}

.posts {
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.col-500{
  width: 500px !important;
  max-width: 500px !important;
}

.post-image {
  width: 500px;
  min-height: 350px;
}

.p-fixed {
  position: fixed;
  top: 35%;
}

.col-100{
  width: 100px !important;
  max-width: 100px !important;
}

.waypoint-anchor {
  width: 1px;
  position: absolute;
  background: red;
  height: 10px;
  top: 45%;
  left: 50%;
}

.new_media.dropzone {
  height: 200px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  border: 4px dashed $dark-gray;
  &.has-danger {
    border: 4px dashed red;
  }
  .dz-message * {
    font-weight: bold;
    color: $purple;
  }

  .dz-preview {
    margin-top: 30px;
    .dz-details {
      display: none;
    }
  }
}

.h-35 {
  height: 35px;
}

.vote-link {
  opacity: 0.5;

  &:active{
    opacity: 1;
  }

  &.voted{
    opacity: 1;
  }
}
