.sidenav {
  position: fixed;
  overflow: hidden;
  transition: .2s;

  &.right{
    height: 100vh;
    max-width: 50em;
    width: 0;
    top: 0;
    left: 0;
  }

  &.top{
    top: 0;
    right: 0;
    height: 0;
    width: 100%;
    max-width: 50em;

    &.show {
      height: 100vh;
    }
  }

  &.bottom{
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    max-width: 35em;
    max-height: 20em;
  }
}
