.modal{
  z-index: 9999;
}

.sidenav{
  z-index: 9998;
}

.dropdown-menu{
  z-index: 9997;
}

.header{
  z-index: 9996;
}

.header-mobile{
  z-index: 9996;
}

.sub-header-mobile{
  z-index: 9996;
}

.tooltip{
  z-index: 9995;
}
