<h1>seja bem-vindo, <%= @email %> :)</h1>

<p>Para confirmar o e-mail da sua nova conta, visite o link:</p>

<p><%= link_to 'confirmar conta', confirmation_url(@resource, confirmation_token: @token) %></p>
