<h1>oi, <%= @resource.username %>!</h1>

<p>
  Alguém requisitou alteração de senha para sua conta.<br/>
  Você pode fazer isso clicando no link abaixo:
</p>

<p><%= link_to 'Alterar a senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu isso, por favor, ignore esse e-mail.<p/>
