<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="text-align:center;">
    
    <img src="https://s3-sa-east-1.amazonaws.com/triafu-development/assets/mailer/triafu-icon-small.png" alt="Triafu">

    <%= yield %>

    <br/>
    <p>
      <%= link_to 'triafu.com.br', root_url %> - Todos os direitos reservados.
    </p>
  </body>
</html>
